@font-face {
	font-family: 'font-1';
	src: url(../public/assets/fonts/Questrial-Regular.ttf);
}

@font-face {
	font-family: 'font-2';
	src: url(../public/assets/fonts/Michroma-Regular.ttf);
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('../../public/assets/fonts/Source-Sans-Pro'),
		local(
			'../../public/assets/fonts/Source-Sans-Pro/SourceSansPro-Regular.ttf'
		),
		url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf)
			format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rambla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-1: 'font-1', sans-serif;
$font-2: 'font-2', serif;
$font-3: 'Source Sans Pro', sans-serif;
$font-4: 'Josefin Sans', sans-serif;
$font-5: 'Audiowide', sans-serif;

$color-1: #fafeff;
$color-2: #00c1ec;
$color-3: #e7f7fe;
$color-4: rgb(141, 141, 141);
$color-5: rgb(235, 244, 242);
$black: rgb(40, 40, 40);
$red: rgb(253, 87, 87);

* {
	margin: 0;
	padding: 0;
	font-family: $font-3;
	box-sizing: border-box;
	outline: none;
	border: none;
}

html {
	scroll-behavior: unset;
	::-webkit-scrollbar {
		display: none;
	}
}

body {
	// background: #fcfcfc;
	background: $color-5;
	height: 100vh;
	overflow-x: hidden;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

.app {
	position: absolute;
	height: 100vh;
	width: 100vw;
}

.button {
	background: $color-3;
	height: 55px;
	width: 126px;
	border-radius: 50px;
	margin-top: 20px;
	font-size: 1.2rem;
	cursor: pointer;
	transition: 0.2s;

	&:hover {
		letter-spacing: 1px;
		color: $color-2;
	}
}
