.scroll-bottom {
	a {
		position: fixed;
		top: 45vh;
		font-size: 3rem;
		color: rgb(184, 183, 183);
		transition: 0.25s;
		user-select: none;
		padding: 0 14px;

		&:hover {
			font-size: 4rem;
		}
	}

	.left {
		left: 10px;
		animation: buttonLeftAnim 1s cubic-bezier(0.11, 0, 0.5, 0) 19s 1 normal
			forwards;
	}

	.right {
		right: 10px;
		animation: buttonRightAnim 1s cubic-bezier(0.11, 0, 0.5, 0) 19s 1 normal
			forwards;
	}
}

@keyframes buttonRightAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(48px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateX(26px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateX(13px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateX(6.5px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateX(4px);
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes buttonLeftAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(-48px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateX(-26px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateX(-13px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateX(-6.5px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateX(-4px);
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}
