.header {
	background: $color-1;
	font-family: $font-4;

	&-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 50px;

		@media screen and (max-width: 1024px) {
			padding: 5px 40px;
		}

		@media screen and (max-width: 768px) {
			padding: 5px 30px;
		}

		@media screen and (max-width: 700px) {
			padding: 8px 20px;
		}
	}

	&-logo-container {
		display: flex;
		align-items: center;

		& span {
			font-size: 1rem;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 1px;

			@media screen and (max-width: 1024px) {
				font-size: 0.9rem;
			}

			@media screen and (max-width: 828px) {
				font-size: 0.8rem;
			}
		}
	}

	&-logo-img {
		border-radius: 40px;
		overflow: hidden;
		width: 70px;
		height: 70px;
		margin-right: 15px;

		@media screen and (max-width: 1024px) {
			width: 60px;
			height: 60px;
		}

		@media screen and (max-width: 768px) {
			width: 50px;
			height: 50px;
		}

		& img {
			transform: translateY(-10px);

			@media screen and (max-width: 1024px) {
				transform: translate(0px, -7px);
				width: 60px;
				height: 83px;
			}

			@media screen and (max-width: 768px) {
				transform: translate(0px, -5px);
				width: 50px;
				height: 69px;
			}
		}
	}
}