nav {
	position: relative;
}

.navigation {
	display: flex;

	@media screen and (max-width: 700px) {
		display: none;
		position: absolute;
		left: -40px;
		top: 60px;
		height: 100px;
		z-index: 10;
	}
}

.nav-link {
	padding: 25px 30px;
	font-size: 1rem;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;

	@media screen and (max-width: 1024px) {
		padding: 22px 20px;
		font-size: 0.9rem;
	}

	@media screen and (max-width: 768px) {
		padding: 20px 15px;
		font-size: 0.8rem;
	}

	@media screen and (max-width: 700px) {
		padding: 5px 10px;
	}
}

.active {
	background: #e8e8e8;
}

.toggle-btn {
	cursor: pointer;
	height: 30px;
	width: 30px;
	margin-right: 10px;
	position: relative;

	& span {
		width: 40px;
		height: 5px;
		border-radius: 3px;
		display: block;
		margin-top: 6px;
		transition: 0.3s ease;
		background: $color-4;
	}

	@media screen and (min-width: 700px) {
		display: none;
	}
}

.nav-active {
	display: block;

	@media screen and (min-width: 700px) {
		display: none;
	}
}

.closed span {
	// position: absolute;
	transform-origin: left;
}
.closed span:nth-child(1) {
	transform: rotate(45deg);
}
.closed span:nth-child(2) {
	opacity: 0;
}
.closed span:nth-child(3) {
	transform: rotate(-45deg);
	margin-top: 12px;
}
// .closed ~ .content {
// 	opacity: 0.3;
// }
