.about {
	position: absolute;
	width: 100vw;
	height: 80vh;
}

.about-container {
	text-align: center;

	h1 {
		font-family: $font-4;
		font-weight: 100;
		text-transform: uppercase;
		padding-top: 40px;
		font-size: 3.3rem;
		letter-spacing: 3px;
	}
}

.about-content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 30px;
	max-width: 90%;
	margin: 0 auto;

	.card {
		height: 50vh;
		width: 25vw;
		padding: 20px;
		border-radius: 6px;
		background: rgba($color-1, 0.4);
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
		font-family: $font-1;
		letter-spacing: 1px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.infos {
		// background: blue;
		p {
			margin-bottom: 10px;
		}
	}

	// .skills {
	// 	// background: white;
	// }

	// .hobbies {
	// 	// background: red;
	// }
}

.about-links {
	margin-top: 20px;

	i {
		margin-left: 10px;
	}
}
