.about {
	position: absolute;
	width: 100vw;
	height: 80vh;

	.button {
		width: 280px;
		padding: 10px;
		margin: 0 auto 40px;
	}
}

.about-container {
	text-align: center;

	h1 {
		font-family: $font-4;
		font-weight: 100;
		text-transform: uppercase;
		padding-top: 40px;
		font-size: 3.3rem;
		letter-spacing: 3px;
		margin-bottom: 20px;

		@media screen and (min-height: 800px) {
			margin-bottom: 80px;
		}

		@media screen and (max-width: 965px) {
			font-size: 3rem;
		}

		@media screen and (max-width: 425px) {
			font-size: 2.3rem;
			padding-top: 30px;
			margin-bottom: 40px;
		}

		@media screen and (max-width: 375px) {
			margin-bottom: 20px;
		}
	}
}

.about-content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 30px;
	max-width: 90%;
	margin: 0 auto;

	@media screen and (max-width: 965px) {
		display: grid;
		grid-template-rows: 40% 60%;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'inf inf' 'b c';
		gap: 20px;
	}

	@media screen and (max-width: 712px) {
		display: block;
	}

	.card {
		height: 40vh;
		width: 25vw;
		min-height: 25vw;
		padding: 40px;
		border-radius: 8px;
		background: rgba($color-1, 0.8);
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
		font-family: $font-1;
		letter-spacing: 1px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: left;
		margin-bottom: 30px;

		@media screen and (max-width: 965px) {
			padding: 10px;
		}

		@media screen and (max-width: 712px) {
			padding: 30px;
		}
	}

	.infos {
		span {
			line-height: 20px;
		}

		@media screen and (max-width: 965px) {
			grid-area: inf;
			width: 86vw;
			margin: 0 auto;
		}

		@media screen and (max-width: 712px) {
			width: 80vw;
			margin-bottom: 30px;
		}
	}

	.skills,
	.hobbies {
		@media screen and (max-width: 965px) {
			margin: 0 auto;
			text-align: center;
			width: 40vw;
		}

		@media screen and (max-width: 712px) {
			width: 80vw;
			margin-bottom: 30px;
		}
	}

	strong {
		font-weight: 500;
	}
}

.about-links {
	margin-top: 20px;

	i {
		margin-left: 10px;
	}
}
