.contact {
	position: absolute;
	width: 100vw;
	height: 80vh;

	.form-container {
		margin: 2rem auto;
		max-width: 50%;
		position: relative;
		min-width: 250px;

		@media screen and (max-width: 768px) {
			max-width: 70%;
		}

		@media screen and (max-width: 425px) {
			max-width: 75%;
		}

		.form-content {
			background: white;
			display: grid;
			height: 80vh;
			grid-template-rows: (15%, 20%, 20%, 30%, 15%);
			padding: 40px 45px 20px;
			border-radius: 16px;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

			@media screen and (max-width: 425px) {
				padding: 30px 35px 0;
				height: 85vh;
				grid-template-rows: (5%, 15%, 15%, 60%, 5%);
			}

			h2 {
				text-align: center;
				font-family: $font-1;
				letter-spacing: 1px;
				font-weight: 100;
			}

			div {
				transition: 0.2s;
			}

			label {
				letter-spacing: 1px;
			}

			input,
			textarea {
				margin: 7px 0;
				border: 1px solid transparent;
				background: $color-5;
				width: 100%;
				box-shadow: 0 1px 2px rbga(0, 0, 0, 0.1);
				border-radius: 9px;
				font-size: 1.1rem;
				padding-left: 10px;
				transition: 0.2s;
			}

			input {
				height: 36px;
			}

			input:focus {
				border: 1px solid #5ef9a4;
			}
		}

		textarea {
			resize: none;
			padding: 6px 0;
			height: 70%;

			@media screen and (max-width: 540px) {
				width: 75%;
				padding: 12px 0;
			}

			@media screen and (max-width: 425px) {
				height: 90%;
				padding: 10px 0;
			}
		}

		input.button {
			background: $color-3;
			height: 55px;
			width: 126px;
			border-radius: 50px;
			margin-top: 20px;
			font-size: 1.2rem;
			cursor: pointer;
			transition: 0.2s;
			border: none;
		}
	}

	.formMessage {
		p {
			border-radius: 20px;
			text-align: center;
			padding: 5px 0;
		}

		.success {
			background: rgb(139, 248, 139);
		}

		.error {
			background: rgb(246, 147, 147);
		}
	}
}
