.home {
	height: 80vh;
	width: 100vw;
	position: absolute;
}

.home-main {
	display: grid;
	align-items: center;
	justify-items: center;
	height: 100%;

	.main-content {
		user-select: none;

		h1 {
			font-size: 3.2rem;
			position: relative;
			font-family: $font-3;
			letter-spacing: 3px;

			@media screen and (max-width: 650px) {
				font-size: 2rem;
			}
		}

		h2 {
			font-size: 3.7rem;
			position: relative;
			font-family: $font-2;

			@media screen and (max-width: 650px) {
				font-size: 2rem;
			}
		}

		h3 {
			font-size: 4.2rem;
			font-weight: 100;

			@media screen and (max-width: 650px) {
				font-size: 2rem;
			}
		}
	}
}
