.home {
	height: 80vh;
	width: 100vw;
	position: absolute;
}

.home-main {
	display: grid;
	// align-items: center;
	justify-items: center;
	height: 100%;

	.main-content {
		margin-top: 10vh;
		user-select: none;
		text-align: center;

		h1 {
			font-size: 3.7rem;
			position: relative;
			font-family: $font-4;
			font-weight: 100;
			letter-spacing: 3px;
			text-transform: uppercase;

			@media screen and (max-width: 650px) {
				font-size: 2rem;
			}
		}

		.line {
			height: 1px;
			background: #b3aca7;
			width: 50%;
			margin: 30px auto;
		}

		h2 {
			font-size: 3rem;
			position: relative;
			font-family: $font-1;
			text-transform: uppercase;
			text-shadow: -1px -1px 1px #283655;
			color: #283655;
			letter-spacing: 0.2em;
			font-weight: 100;
			margin-bottom: 30px;

			@media screen and (max-width: 650px) {
				font-size: 2rem;
			}
		}

		h3 {
			font-size: 4.2rem;
			font-weight: 100;

			@media screen and (max-width: 650px) {
				font-size: 2rem;
			}
		}

		.typed-container {
			max-width: 60%;
			min-width: 300px;
			margin: 40px auto;
			text-align: center;
		}

		.typed {
			font-family: $font-1;
			font-size: 1.3rem;
			letter-spacing: 0.03em;
			line-height: 1.3em;
		}
	}
}

.typed-cursor,
.typed-cursor--blink {
	transform: translateY(-50%) !important;
	transform-origin: center !important;
}
