.portfolio {
	text-align: center;
	position: relative;

	h1 {
		font-family: $font-4;
		font-weight: 100;
		text-transform: uppercase;
		padding-top: 40px;
		font-size: 3.3rem;
		letter-spacing: 3px;

		@media screen and (max-width: 1024px) {
			font-size: 3rem;
		}

		@media screen and (max-width: 768px) {
			font-size: 2.7rem;
			letter-spacing: 2px;
		}

		@media screen and (max-width: 600px) {
			font-size: 2.4rem;
		}

		@media screen and (max-width: 425px) {
			font-size: 2.1rem;
			letter-spacing: 1px;
		}

		@media screen and (max-width: 375px) {
			font-size: 2rem;
		}

		@media screen and (max-width: 375px) {
			font-size: 1.8rem;
			letter-spacing: normal;
		}
	}
}

.portfolio-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 30px auto 0;
	width: 80vw;
}

.portfolio-content {
	width: 260px;
	height: 190px;
	overflow: hidden;
	position: relative;
	transition: transform 0.3s ease;

	@media screen and (max-width: 768px) {
		overflow-x: initial;
	}

	span {
		position: absolute;
		bottom: 20%;
		left: 0;
		width: 100%;
		padding: 1rem;
		margin: 0 auto;
		visibility: hidden;
		transition: 0.5s ease;
		transform: translateY(150%);

		h3 {
			padding-bottom: 10px;
			color: rgb(2, 121, 148);
			font-size: 1.3rem;
			text-transform: uppercase;
		}
	}

	img {
		overflow: hidden;
		object-fit: cover;
		object-position: 50%;
		width: 100%;
		height: 100%;
		transition: 0.4s ease-out;

		&:hover,
		span:hover img {
			transform: scale(1.2);
			filter: opacity(15%) contrast(150%);
		}

		&:focus,
		span:focus img {
			transform: scale(1.2);
			filter: opacity(15%) contrast(150%);
		}
	}

	&:hover span,
	span:hover {
		visibility: visible;
		transform: translateY(-20%);
	}

	&:focus span,
	span:focus {
		visibility: visible;
		transform: translateY(-20%);
	}

	.langages {
		display: flex;
		align-items: center;
		justify-content: space-around;

		img {
			width: 50px;
		}
	}
}
