.portfolio {
	text-align: center;
	position: relative;

	h1 {
		font-family: $font-4;
		font-weight: 100;
		text-transform: uppercase;
		padding-top: 40px;
		font-size: 3.3rem;
		letter-spacing: 3px;
	}
}

.portfolio-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
	padding: 0 10vw;
}

.portfolio-content {
	width: 260px;
	height: 190px;
	overflow-x: hidden;
	position: relative;
	transition: transform 0.3s ease;

	span {
		position: absolute;
		bottom: 20%;
		left: 0;
		width: 100%;
		padding: 1rem;
		margin: 0 auto;
		visibility: hidden;
		transition: 0.5s ease;
		transform: translateY(150%);
		z-index: 10;
	}

	h3 {
		color: black;
		font-size: 1.3rem;
		text-transform: uppercase;
		z-index: 100 !important;
	}

	img {
		position: absolute;
		left: -17%;
	}

	&:hover,
	span:hover img {
		transform: scale(1.2);
		filter: opacity(15%) contrast(150%);
	}

	&:hover span,
	span:hover {
		visibility: visible;
		transform: translateY(-80%);
	}
}
